*{
	margin: 0;
	padding: 0;
	text-align: center;
}
body{
	width: 90%;
	margin: 0 auto;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.logo{
	width: 100%;
	height: 50px;
	background-color: #ec715f;
	color:#fafafa;
}
.logo-item{
	width: 100%;
	margin: auto;
}
.fas{
	display: inline-block;
	float: right;
	font-size: 40px;
	padding: 3px 8px 3px 0;
}
.logo span{
	float: left;
}
.logo img{
	height: 50px;
}
.logo ul{
	display: none;
}

.main-img{
	height: 650px;
	background-image: url(img/code.png);
	background-size: cover;
	background-position: center;
	color:#fafafa;
}
.main-img h1{
	font-size: 40px;
	padding-top: 200px;
	padding-bottom: 10px;
}
.main-img p{
	font-size: 18px;
}
.portfolio{
	background-color: #eceff1;
	padding-bottom: 90px;
}
.portfolio-item{
	width: 100%;
	color: #000;
	margin: 0 auto;
}

.portfolio p{
	padding: 30px 0;
}

.port-img p{
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
	padding:0;
	float: none;
}
.port-img p:nth-child(1){
	background-image: url(img/sketch.jpg);
	display: none;
	width: 0;
	height: 0;
}
.port-img p:nth-child(2){
	background-image: url(img/websuku.png);
	margin: 0 auto;
	margin-bottom: 10px;
}
.port-img p:nth-child(3){
	background-image: url(img/write.jpg);
	display: none;
	width: 0;
	height: 0;
}
.port-img p:nth-child(4){
	background-image: url(img/webcamp.png);
	margin: 0 auto;
	margin-bottom: 10px;
}
.port-img p:nth-child(5){
	background-image: url(img/talk.jpg);
	display: none;
	width: 0;
	height: 0;
}
.port-img p:nth-child(6){
	background-image: url(img/webcamp-mother.png);
	margin: 0 auto;
	margin-bottom: 10px;
}


.feature{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 90px;
}
.feature-box{
	padding-top: 30px;
	width: 320px;
	height: auto;
	float: none;
	margin: 0 auto;
}
.feature-box p{
	text-align: none;
	font-size: 16px;
}

.feature-box .fa{
	display: inline-block;
	font-size: 60px;
}
.feature-box2{
	margin: 0 auto;
	padding-top: 30px;
	width: 320px;
	height: auto;
	float: none;
}
.feature-box2 p{
	text-align: none;
	font-size: 16px;
}

.feature-box2 .fa{
	display: inline-block;
	font-size: 60px;
}

.profile{
	background-color: #eceff1;
	padding-bottom: 90px;
}
.profile-body{
	width: 100%;
	margin: 0 auto;
}
.profile-body p{
	font-size: 16px;
}
.profile-img{
	width: 100%;
	float: none;
	padding-top: 30px;
}
.profile-img img{
	height: 250px;
	width: 250px;
	margin: auto;
	border-radius: 50%;
}
.profile-text{
	width: 100%;
	float: none;
	padding-top: 30px;
}
.profile-text h3{
	font-size: 20px;
	text-align: center;
}
.profile-text p{
	padding-top: 5px;
	padding-bottom: 20px;
	text-align: center;
}


.content{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 90px;
}
.content p{
	font-size: 16px;
}
.content-item{
	padding-top: 30px;

}
.emailtel{
	width: 100%;
	float: none;
	margin: auto;
	text-align: center;
}
.emailtel h3{
	padding-left: 0px;
	text-align: center;
}
.emailtel p{
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 0px;
	text-align: center;
}
.fabcon{
	width: 100%;
	float: left;
	position: relative;
}
.fabcon h3{
	padding-left: 0px;
	text-align: center;
}
.fabcon .fab{
	font-size: 50px;
	display: inline-block;
	padding: 5px 8px 0 8px;
	background-attachment: fixed;
}
.footer{
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	color:#fafafa;
	margin: 0 auto;
}
.footer p{
	font-size: 16px;
	padding-top: 20px;
}






















