
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color:#6c6b6b;
	clear: both;
	width: 90%;
}
.box-text{
	margin-top:50px;
	width: 90%;
	padding: 10px;
	border:1px solid #ecebeb;
	position: relative;
	float:none;
}
.topic1{
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
	display: block;
}
.topic2{
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
	display: block;
}
.topic3{
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom;
	display: block;
}
h3{
	margin-top: 10px;
	font-size:18px;
}
p{
	font-size: 14px;
}
.st{
	position: absolute;
	top:0;
	left: 0;
	background-color: orange;
	color:#FFF;
}